:root {
  --text-light:#1dbac5;
  --text-grey:#89898b;
  --text-dark:#398894;
  --text-lightgrey:#c2c2c5;
  --text-white:#e5f1fc;

  --appbar-background:var(--text-light);

  --selected:var(--text-dark);

  --background-grey:#aecfd4;
  --background-dark:#13121d;
  --background-light: var(--text-light);

  --empty:transparent;
  --empty-hover:var(--text-dark);

  --filled:var(--text-dark);
  --filled-hover:#f5b9bf;
  --border-color:#3e93a0;

}
*{
  margin: 0;
  padding: 0;
}

body {
  background-color:var(--background-dark) ;
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
  scrollbar-color: rgb(223, 223, 223) transparent;
  color: var(--text-lightgrey);
}

p{
  font-size:15px;
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}



.flex-row{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center
}

.flex-column{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* gap: 10vw; */
  /* background: url(/src/assets/bg.svg); */
  background-size: cover;
  background-position: initial;
}

.content-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

h2{
  margin-bottom:3vh;
  text-align-last: center;
  color: var(--text-light);
}
/* 
@media only screen  and (max-width: 700px){
  .sidebar {
    width: 3vw !important; 
}
.content-container ,.dev-container{
    width: calc(100vw - 3vw) !important; 
}
} */