:root {

  --font-family: "Poppins", sans-serif;

  --text:#000000;
  --text-inside: #fff;
  --text-grey:#5c5c5c;
  --selected:var(--text);

  --background-grey:#d1d1d1f5;
  --background: 0 0% 100%;

  --empty:var(--text);
  --empty-hover:var(--text);

  --filled:var(--text);
  --filled-hover:var(--text-grey);
  --border: #e5e7eb;
  --input-border:hsl(240 5.9% 90%);

  --appbar-background:var(--background);

}
html[class="dark"] {
  --font-family: "Poppins", sans-serif;

  --text: #f1f1f1;
  --text-inside: #000000;
  --text-grey: #bdbdbdd8;
  --selected: var(--text);

  --background-grey: #505050;
  --background: #0A0A0A;

  --empty: transparent;
  --empty-hover: var(--text);

  --filled: var(--text);
  --filled-hover: var(--text-grey);
  --border: #5252527e;
  --input-border: hsla(240, 6%, 90%, 0.329);

  --appbar-background: var(--background);
}

[class^="poppins"] {
  font-family: var(--font-family);
  font-style: normal;
}

[class*="-italic"] {
  font-style: italic;
}

/* Font Weights */
.poppins-thin { font-weight: 100; }
.poppins-extralight { font-weight: 200; }
.poppins-light { font-weight: 300; }
.poppins-regular { font-weight: 400; }
.poppins-medium { font-weight: 500; }
.poppins-semibold { font-weight: 600; }
.poppins-bold { font-weight: 700; }
.poppins-extrabold { font-weight: 800; }
.poppins-black { font-weight: 900; }

.poppins-thin-italic { font-weight: 100; }
.poppins-extralight-italic { font-weight: 200; }
.poppins-light-italic { font-weight: 300; }
.poppins-regular-italic { font-weight: 400; }
.poppins-medium-italic { font-weight: 500; }
.poppins-semibold-italic { font-weight: 600; }
.poppins-bold-italic { font-weight: 700; }
.poppins-extrabold-italic { font-weight: 800; }
.poppins-black-italic { font-weight: 900; }

*{
  margin: 0;
  padding: 0;
}


.flex-row{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center
}

.flex-column{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}

body {
  background-color:var(--background) ;
  font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
  scrollbar-color: rgb(223, 223, 223) transparent;
  color: var(--text);
  font-size: .875rem;
  line-height: 1.25rem;
}

p{
  color: var(--textgrey);
  /* font-weight: 200; */
  /* font-size: small; */
  /* word-wrap: break-word; */
  line-height: 1.25rem;
}


h2{
  margin-bottom:1.5vh;
  font-size: 1.5rem;
  font-weight :600;
  letter-spacing: -.025em;
  /* text-align-last: center; */
  /* color: var(--text); */
}

.container{
  height: 100vh;
  /* width: 100vw; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* gap: 10vw; */
  /* background: url(/src/assets/bg.svg); */
  background-size: cover;
  background-position: initial;
}

.content-container{
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 0.2rem;
    height: -webkit-fill-available;
}
