.form-container-header{
    /* gap: -10vh; */
    margin-bottom: 2vh;;
}

.connection-details-form{
    /* background-color: green; */
    gap:2vh
}

.connection-details-form > .inputfield{
 gap:0.5vh;
}

.form-container,.active-devices-super-container{
    box-sizing: border-box;
    /* border-width: 1px; */
    border:  1px solid var(--border);
    border-radius: 12px;
    padding: 3.5vh 2.5vw;
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.active-devices-super-container{
    align-self:baseline !important;
    margin-top: 4vh;
}
.device-container{
    /* display: flex;
    flex-wrap: wrap;
    gap: 1vw; 
    justify-content: flex-start; */
    display: grid;
    gap: 3vh;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
    
}


.device{
    /* flex: 0 1 calc(25% - 10px); */
    box-sizing: border-box;
    padding: 2.5vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    background-color: transparent;
    text-align: center;
    border: 1px solid var(--text-dark);
    border-radius: 8px;
    cursor: pointer;
    color: var(--background-grey);
}


/* @media only screen and (max-width: 600px) {
    .device{
        padding: 2vh 2vw;
        border-radius:12px;
    }

    .device-container{
        gap: 5vw; 
    }
  } */