.form-container-header{
    /* gap: -10vh; */
    margin-bottom: 2vh;;
}

.connection-details-form{
    /* background-color: green; */
    gap:2vh
}

.connection-details-form > .inputfield{
 gap:0.5vh;
}

.form-container,.active-devices-super-container{
    box-sizing: border-box;
    /* border-width: 1px; */
    border:  1px solid var(--border);
    border-radius: 12px;
    padding: 3.5vh 2.5vw;
    /* box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
}

.active-devices-super-container{
    align-self:baseline !important;
    margin-top: 4vh;
}
.device-container{
    /* display: flex;
    flex-wrap: wrap;
    gap: 1vw; 
    justify-content: flex-start; */
    display: grid;
    gap: 3vh;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
    
}


.device{
    /* flex: 0 1 calc(25% - 10px); */
    box-sizing: border-box;
    padding: 2.5vh 2vw;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    background-color: transparent;
    text-align: center;
    border: 1px solid var(--text-dark);
    border-radius: 8px;
    cursor: pointer;
    color: var(--background-grey);
}


/* @media only screen and (max-width: 600px) {
    .device{
        padding: 2vh 2vw;
        border-radius:12px;
    }

    .device-container{
        gap: 5vw; 
    }
  } */

  .dropdown-container {
    position: relative;
    
  }

  /* The dropdown list */
.dropdown-list {
    position: absolute;
    top: 100%; /* Ensure it appears below the input field */
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 200px; /* Set max height for scrolling */
    overflow-y: auto; /* Enable scroll when list is long */
    z-index: 10;
  }
  
  /* Each item in the dropdown */
  .dropdown-item {
    padding: 4px;
    cursor: pointer;
    font-size: 13px;
    transition: background-color 0.2s;
  }
  
  /* Hover effect for dropdown items */
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  
  /* Style for when there's no match in saved logins */
  .dropdown-item.no-match {
    color: #999;
    cursor: default;
  }

  .password-container {
    position: relative;
    /* width: 100%; */
  }

  .password-toggle-icon,.dropdown-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
  }