.connection-details-form{
    /* background-color: green; */
    gap:2vh
}

.connection-details-form > .inputfield{
 /* background-color: red; */
}

.form-container{
    border: 1px solid #3A77CC29;
    border-radius: 12px;
    padding: 4vh 2.5vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}