.input{
 padding:7px;
}

.input.small{
    min-width: 10vw;
}

.input.medium{
    min-width: 20vw;
}

.input.large{
    width: 320px;
    max-width: 360px;
}

.dialog-box{
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 1.8vh 2vw;
}

h4{
    margin-bottom:1.5vh;
    color:var(--text-grey)
}

.settings-grid{
    display: grid;
    gap: 2vh;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

label{
    font-size: 14px;
    cursor: pointer;
    justify-content:start !important;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    padding:0;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #ccc;
    appearance: none;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  input[type="checkbox"]:checked {
    background-color: var(--empty);
    padding:0;
    border-color: var(--text);
  }
  
  input[type="checkbox"]:checked::after {
    content: '✔';
    color: white;
    font-size: 16px;
    position: relative;
    padding:0;
    left: 1px;
    top: -3px;
  }

  input {
    border: 1px solid var(--input-border);
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-color:var(--border);
    background-color: transparent;
    color: var(--text);
    font-weight: bold;
  }

  /* input:before{
    font-weight: normal;
  }
  

  input:after{
    font-weight: bold;
  } */
  
  input:focus {
    border-color: var(--text);
    /* color:var(--textgrey); */
    outline: none;
    font-weight: normal;
  }
  