.input{
 padding:7px;
}

.input.small{
    min-width: 10vw;
}

.input.medium{
    min-width: 20vw;
}

.input.large{
    width: 320px;
    max-width: 360px;
}

.dialog-box{
    border: 1px solid #0E5CC929;
    border-radius: 12px;
    padding: 1.8vh 2vw;
}

h4{
    margin-bottom:1.5vh;
    color:var(--text-dark)
}

.settings-grid{
    display: grid;
    gap: 2vh;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

label{
    font-size: 14px;
    cursor: pointer;
    justify-content:start !important;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    padding:0;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid #ccc;
    appearance: none;
    outline: none;
    transition: background-color 0.3s ease;
  }
  
  input[type="checkbox"]:checked {
    background-color: var(--text-dark);
    padding:0;
    border-color: var(--text-dark);
  }
  
  input[type="checkbox"]:checked::after {
    content: '✔';
    color: white;
    font-size: 16px;
    position: relative;
    padding:0;
    left: 1px;
    top: -3px;
  }

  input {
    border: 1px solid var(--text-dark);
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    color:var(--text-lightgrey)
  }
  
  input:focus {
    border-color: var(--text-light);
    color:#ccc;
    outline: none;
  }
  