.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: medium;
    font-weight: 500;
    height: 100vh;
    transition: width 0.5s;
    box-shadow: rgb(127 126 126 / 35%) 0px 5px 15px;
}

.sidebar.collapsed {
    width: 6vw; 

}

@media only screen and (max-width: 800px) {
    .sidebar.collapsed {
        width: 9vw; 
    }
}

.sidebar.expanded {
    width: 15vw;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 2vh 0;
}

.sidebar-item svg{
    margin-left:0.4vw;
}
.sidebar-item {
    cursor: pointer;
    display: flex;
    /* justify-content: flex-start; */
    align-items: center;
    gap: 0.9vw;
    padding: 1.5vh .5vw;
    margin: 1vh 1vw;
    color: var(--text-grey);
    border: none;
    cursor: pointer;
    transition: background-color 0.1s ease;
    border-radius: 8px;   
}

.sidebar.collapsed .sidebar-item{
    justify-content: center;
}

.sidebar-item span {
    display: none;
}

.sidebar.expanded .sidebar-item span{
    display: inline
}

.sidebar-item:hover{
    color: var(--text-light);
    background-color: #646464;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.sidebar-item.active {
    color: var(--text-light);
    position: relative;
    background-color: var(--filled);
}

/* .sidebar-item.active::before {
    content: "";
    position: absolute;
    margin-right:-0.4vw;
    left: -2px; 
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: var(--text-light);
    border-radius: 50%;
} */

.content-container {
    transition: width 0.5s;
    padding: 20px;
    width: calc(100vw - 6vw);
}

.sidebar.expanded ~ .content-container {
    width: calc(100vw - 15vw); 
}